/* Block component */
.button {
	color: blue;
}

/*Element that depends upon the block*/
.button__cost {
	color: green;
}

.button__text {
	color: black;
}

/*Modifier that changes the style of the block*/
.button--wide {
	border-style: outset;
	background-color: yellow;
}
.button--narrow {
	border-style: outset;
	background-color: blue;
}
